.friend-list {
    width: 25%;
    background-color: white;
    padding: 5px 10px 0 15px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 1px 2px 8px 1px #e5e5e5;
}

.friend-list .ant-list-item-meta-title {
     color: rgba(0, 0, 0, 0.65);
     margin-bottom: 4px;
     font-size: 14px;
     line-height: 15px;
 }

.friend-list .ant-list-item-meta-description {
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 10px;
}