.friend-list {
    width: 25%;
    height: 360px;
    overflow: scroll;
    background-color: white;
    padding: 5px 10px 0 15px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}

.home .friend-list .ant-list-item {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 0 0 0;
}

.friend-list .ant-list-item-meta-title {
     color: rgba(0, 0, 0, 0.65);
     margin-bottom: 4px;
     font-size: 14px;
     line-height: 15px;
 }

.friend-list .ant-list-item-meta-description {
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 4px;
    font-size: 10px;
    line-height: 10px;
}

.friend-list .message-button {
    float: right;
}