.home {
    /*background-color: white;*/
    width: 1200px;
    text-align: left;
}

.home-main {
    display: flex;
    margin: auto;
}

.home-tab {
    /*background-color: white;*/
    border-radius: 2px;
    margin-top: -59px;
    margin-bottom: 40px;
    width: 80%;
}

.home-left {
    display:block;
    width: 25%;
}

.search {
    margin: 20px;
    width: 96%;
}

.tab {
    margin-top: 20px;
    margin-left: 20px;
    display: block;
}

.tabpane {
    background-color: white;
    border-radius: 2px;
}

.home .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    background: white;/*#283e4a;*/
    border: 3px solid white;
    border-radius: 0;
    /*color: white;*/
    margin-right: 10px;
}