.register-form {
    margin-bottom: 200px;
    width: 450px;
    padding: 20px;
    border-radius: 2px;
    background: #EDF0FB;
    border-radius: 0px 0px 2px 2px;
}

.form-title {
    font-family: /* Roman */ -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Lucida Grande, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, /* CJK */ Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, /* Arabic */ Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, /* Thai */ Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, /* Sans Fallbacks */ Droid Sans Fallback, '.SFNSDisplay-Regular', /* CJK Fallbacks */ Heiti SC, Microsoft Yahei;
    font-size: 24px;
    line-height: 32px;
    font-weight: 200;
    font-color: black;
    margin-top: 40px;
    width: 450px;
    padding: 20px;
    border-radius: 2px 2px 0px 0px;
    background: #F6F8FA;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.pre-register {
    margin-top: 80px;
    margin-bottom: 35%;
}

.pre-register-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 200;
    font-color: black;
    margin-top: 40px;
    width: 600px;
    padding: 20px;
    border-radius: 2px 2px 0px 0px;
    background: #F6F8FA;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.pre-register-body {
    margin-bottom: 80px;
    padding: 30px;
    border-radius: 2px;
    background: #EDF0FB;
    border-radius: 0px 0px 2px 2px;
}