.search-radio {
    text-align: center;
    margin-left: 18px;
    height: 45px;
}

.search-for {
    font-weight: bold;
    color: black;
}

.search-bar {
    box-shadow: 1px 3px 10px 2px #e5e5e5;
    padding: 20px;
    margin: 19px 10px 10px 10px;
    border-radius: 2px;
}

.result-people .item-container .ant-list-item{
    width: 320px;
    margin-left: 10px;
    padding: 20px;
}

.result-people .item-container .ant-list-item .element.style{
    padding: 20px;
}

.add-friend-button {
    margin-top: -28px;
    margin-right: 15px;
    float: right;
}