.user-info {
    width: 25%;
    height: 500px;
    background-color: white;
    /*padding: 30px;*/
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 1px 2px 8px 1px #e5e5e5;
    border-radius: 2px;
}

.user-info-img {
    width: 110%;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
}

.user-avatar {
    display: table;
    margin: -30px auto auto auto;
}

.user-avatar-content {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.ant-avatar-lg > * {
    line-height: 60px;
}

.user-info-detail {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.user-info-name {
    font-weight: bold;
    color: black;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 0;
}
